.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: black;
}

.footer-img {
  font-size: 40px;
  margin: 10px;
  color: white;
}
