body {
  background: #0a0a0a;
}

.case-hero-container {
  background-image: url("../public/stars.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 60px;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
}

.case-hero-container h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  color: white;
}

.case-hero-container p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.case-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 25px;
}

.case-modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.case-modules .overlay {
  position: absolute;
}

.case-module {
  padding: 1rem;
  border-radius: 20px;
  background: rgb(0 11 53);
  cursor: pointer;
}

.case-module:hover {
  box-shadow: 0px 0px 20px blue;
}

.case-title {
  font-size: 30px;
  text-align: center;
}

.case-image {
  width: 400px;
  height: 230px;
}

@media (max-width: 945px) {
  .case-image {
    height: auto;
  }
}

/*overlay*/
.overlay-container {
  max-width: 500px;
  width: 100%;
}

.overlay-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.overlay-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
  color: white;
}

.overlay-tag {
  padding: 5px 10px;
  width: fit-content;
  text-align: center;
  background: rgb(59 130 246 / 0.5);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.overlay-text {
  text-align: left;
  margin-bottom: 15px;
  color: white;
}

.stat-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stat-object {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-stat {
  font-size: 40px;
  color: #b5b500;
}

.stat-desc {
  text-align: center;
  color: white;
}
